.nav-shadow {
  border-bottom: 1px solid #3030305c;
}

.clickable {
  cursor: pointer;
}

.view-100 {
  height: calc(100vh - 139px);
}
.view-100-add {
  height: calc(100vh - 171px);
}

.bg-back {
  background-color: #000000;
}
.bg-sec {
  background-color: #1A1A1A;
}
/* imdb_btn */
.imdb_btn{
  display: inline-block;
  outline: none;
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 12px;
  border: 0;
  color: #fcf7f7;
  background: #0c0b00;
  line-height: 1.15;
  font-size: 16px;
}
.imdb_btn:hover{
  transition: all .1s ease;
}
.star-icon {
  color: #deb522;
  margin-right: 4px;
}

.delete_btn {
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 12px;
  border: 0;
  /* color: #000021; */
  color: #FFFFDD;
  /* background: #cc1f1f; */
  background: #0c0b00;
  line-height: 1.15;
  font-size: 16px;

}
.delete_btn:hover {
  transition: all .3s;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #0c0b00;
}

.bg-main {
background-color: #353e465c;
}

.update-btn {
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 12px;
  border: 0;
  color: #fff;
  background: #0c0b00;
  line-height: 1.15;
  font-size: 16px;
  

}
.update-btn:hover {
  transition: all .3s;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #0c0b00;
}




.shadow-box {
  box-shadow: rgb(255 255 255 / 15%) 0px 0px 5px 0px;
}




.footer-shadow {
  border-top: 1px solid #3030305c;
}